.each-product-container {
  width: 317px;
  height: auto;
  margin-bottom: 25px;
  position: relative;

  .product-image-container {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .product-name-container {
    width: 100%;
    color: #2d2d2d;
    display: block;
    font-size: 11.5px;
    letter-spacing: 0.2px;
    line-height: 22px;
    margin: 10px 0;
    width: 100%;
    height: 40px;
    overflow: hidden;
  }

  .product-price-container {
    width: 100%;

    span {
      color: #666;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.8px;
      line-height: 20px;
    }
  }

  .each-product-like-button {
    position: absolute;
    right: 10px;
    bottom: 100px;
  }
}
