.desktop-navbar-container {
  width: 100%;
  z-index: 999;

  .first-section,
  .second-section,
  .third-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .section-inner-container {
      max-width: 1366px;
    }
  }

  .first-section {
    background-color: #f8f8f8;
    .section-inner-container {
      height: 30px;
      padding: 0 32px;
      width: 1366px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      .section-button {
        height: 100%;
        border-left: 1px solid #ddd;
        padding: 0 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        span {
          color: #666;
          font-size: 12px;
          font-weight: 400;
          img {
            width: 18px;
            height: 18px;
            border: 1px solid #f8f8f8;
            border-radius: 50%;
            display: block;
          }
        }
      }

      .section-button:hover {
        span {
          color: #0770cf;

          img {
            border-color: #0770cf;
          }
        }
      }

      .flag {
        border-right: 1px solid #ddd;
      }
    }
  }

  .second-section {
    background-color: #2d2d2d;
    .section-inner-container {
      width: 1366px;
      height: 64px;
      padding: 0 32px;
      display: flex;

      .second-section-left-side {
        display: flex;
        height: 100%;

        .logo-container {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-right: 20px;

          svg {
            fill: #ffffff;
          }
        }

        .second-section-button-container {
          height: 100%;
          // height: 100px;
          width: 115px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          background-color: #2d2d2d;
          line-height: 60px;
          border-left: 1px solid #525050;
          font-size: 0.9rem;
          text-transform: uppercase;
          font-weight: 600;
          cursor: pointer;
        }

        .second-section-button-container:hover {
          background-color: #413f3f;
        }
      }

      .second-section-search-container {
        width: 820px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 32px;
        border-left: 1px solid #525050;
        //border-right: 1px solid #525050;
      }

      .second-section-right-side {
        height: 100%;
        display: flex;
        align-items: center;
        .second-section-right-side-button-container {
          height: 100%;
          padding: 12px 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          .saved-icon {
            width: 26px;
            height: 19px;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 18' xmlns='http://www.w3.org/2000/svg' height='var(--myaccount-icon-height)' width='var(--myaccount-icon-width)'%3E%3Cpath d='M10.618 15.474a21.327 21.327 0 003.137-2.076c2.697-2.166 4.249-4.619 4.245-7.299-.003-2.284-1.757-4.101-3.881-4.099-1.016 0-1.97.417-2.69 1.158l-1.43 1.467-1.432-1.463a3.748 3.748 0 00-2.695-1.151C3.749 2.013 1.998 3.837 2 6.12c.003 2.677 1.559 5.123 4.256 7.281a21.32 21.32 0 003.756 2.39c.191-.096.394-.202.606-.318zM9.996 1.763l.203-.2A5.726 5.726 0 0114.116 0c3.246-.004 5.88 2.725 5.884 6.097C20.01 13.845 10.014 18 10.014 18S.01 13.87 0 6.124C-.003 2.752 2.624.014 5.87.01a5.733 5.733 0 013.92 1.554l.205.199z' fill='%23FFF'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 50%;
          }

          .bag-icon {
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' height='var(--myaccount-icon-height)' width='var(--myaccount-icon-width)'%3E%3Cpath d='M18 17.987V7H2v11l16-.013zM4.077 5A5.996 5.996 0 0110 0c2.973 0 5.562 2.162 6.038 5H20v14.986L0 20V5h4.077zm9.902-.005C13.531 3.275 11.86 2 10 2 8.153 2 6.604 3.294 6.144 4.995c.92 0 7.654.03 7.835 0z' fill='%23FFF'/%3E%3C/svg%3E");
          }
        }
      }
    }
  }

  .third-section {
    background-color: #9447ff;
    .section-inner-container {
      width: 1366px;
      height: 54px;
      padding: 0 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .third-section-button {
        cursor: pointer;
        height: 30px;
        width: 100px;
        font-size: 13px;
        font-weight: 600;
        border: 2px solid #ffffff;
        color: #fff;
        line-height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
      }

      .third-section-button:hover {
        border-color: #dddddd;
        color: #dddddd;
      }

      .third-section-texts-container {
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          color: #fff;
          font-weight: 700;
          letter-spacing: 2px;
          font-size: 14px;
          line-height: 1.1;
        }
      }
    }
  }
}

@import "./components/bag/styles";
@import "./components/search/styles";
@import "./components/account/styles";
@import "./components/shop-links/styles";
