.clothing-option-type-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  .clothing-shop-by-product-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 5.5px;
    margin-top: 0;
    margin-bottom: 12px;
    width: 100%;
    padding: 0 20px;
    flex: 2;
    border-right: 1px solid #ddd;
  }

  .clothing-shop-by-edit-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 5.5px;
    margin-top: 0;
    margin-bottom: 12px;
    width: 100%;
    padding: 0 20px;
  }

  .clothing-shop-by-body-fit-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 5.5px;
    margin-top: 0;
    margin-bottom: 12px;
    width: 100%;
    padding: 0 25px;
    border-right: 1px solid #ddd;
  }
}
