@import "./components/styles";

.product-page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  .product-page-inner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .product-page-top-section {
      width: 960px;
      height: auto;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .product-information-section {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
    }

    .product-also-like-section,
    .product-reviews-section {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
      border-top: 1px solid #eee;
    }
  }
}
