.top-man-option-type-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  .top-man-shop-by-product-container,
  .top-man-image-links-one,
  .top-man-image-links-two {
    display: flex;
    flex-direction: column;
    padding-bottom: 5.5px;
    margin-top: 0;
    margin-bottom: 12px;
    width: 100%;
    padding: 0 20px;
    // flex: 1;
    border-right: 1px solid #ddd;
  }

  .top-man-shop-by-product-container {
    flex: 2;
  }

  .top-man-image-links-one {
    flex: 1;
  }

  .top-man-image-links-two {
    border: none;
    flex: 1;
  }
}
