.save-later-notification {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .heart-animation-container {
    position: absolute;
    bottom: -50px;
    left: 200px;
    width: 50px;
    height: 50px;

    .heart1 {
      width: 16px;
      height: 16px;
      background-color: #2d2d2d;
      transform: translate(-50%, -160%) rotate(45deg);
      position: relative;
    }

    .heart1:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #2d2d2d;
      transform: translateY(-50%);
      border-radius: 50%;
    }

    .heart1:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #2d2d2d;
      transform: translateX(-50%);
      border-radius: 50%;
    }

    .heart1 {
      animation: heart1 1s ease-out 1s infinite;
    }

    @keyframes heart1 {
      0% {
        transform: translateY(-200%) translateX(0) scale(0.25) rotate(45deg);
        opacity: 1;
      }

      100% {
        transform: translateY(-400%) translateX(0) scale(1) rotate(50deg);
        opacity: 0;
      }
    }

    .heart2 {
      width: 16px;
      height: 16px;
      background-color: #2d2d2d;
      transform: translate(-50%, -250%) rotate(45deg);
    }

    .heart2:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #2d2d2d;
      transform: translateY(-50%);
      border-radius: 50%;
    }

    .heart2:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #2d2d2d;
      transform: translateX(-50%);
      border-radius: 50%;
    }

    .heart2 {
      animation: heart2 1.5s ease-out 1s infinite;
    }

    @keyframes heart2 {
      0% {
        transform: translateY(-300%) translateX(-100%) scale(0.25)
          rotate(-20deg);
        opacity: 1;
      }

      100% {
        transform: translateY(-500%) translateX(-10%) scale(1) rotate(45deg);
        opacity: 0;
      }
    }

    .heart3 {
      width: 16px;
      height: 16px;
      background-color: #2d2d2d;
      transform: translate(-50%, -350%) rotate(45deg);
    }

    .heart3:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #2d2d2d;
      transform: translateY(-50%);
      border-radius: 50%;
    }

    .heart3:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #2d2d2d;
      transform: translateX(-50%);
      border-radius: 50%;
    }

    .heart3 {
      animation: heart3 2s ease-out 1s infinite;
    }

    @keyframes heart3 {
      0% {
        transform: translateY(-430%) translateX(-100%) scale(0.25) rotate(20deg);
        opacity: 1;
      }

      100% {
        transform: translateY(-650%) translateX(-10%) scale(1) rotate(60deg);
        opacity: 0;
      }
    }

    .heart4 {
      width: 16px;
      height: 16px;
      background-color: #2d2d2d;
      transform: translate(-50%, -450%) rotate(45deg);
    }

    .heart4:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #2d2d2d;
      transform: translateY(-50%);
      border-radius: 50%;
    }

    .heart4:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #2d2d2d;
      transform: translateX(-50%);
      border-radius: 50%;
    }

    .heart4 {
      animation: heart4 2.5s ease-out 1s infinite;
    }

    @keyframes heart4 {
      0% {
        transform: translateY(-450%) translateX(-100%) scale(0.25) rotate(45deg);
        opacity: 1;
      }

      100% {
        transform: translateY(-750%) translateX(-10%) scale(1) rotate(80deg);
        opacity: 0;
      }
    }
  }

  span {
    color: #2d2d2d;
    letter-spacing: 0.5px;
    overflow: hidden;
    font-size: 0.8rem;
    line-height: 1.5rem;
    max-height: 3.1rem;
    margin-left: 100px;
  }
}

.each-bag-item-container {
  padding: 0 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 220px;
  //margin-bottom: 25px;
  transition: all 0.5s ease-in-out;

  .item-removed-animation {
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 1s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: #2d2d2d;
      letter-spacing: 0.5px;
      overflow: hidden;
      font-size: 0.8rem;
      line-height: 1.5rem;
      max-height: 3.1rem;
    }
  }

  .animate-item {
    transform: translate(0);
  }

  .update-is-happening {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: #ffffff;
    opacity: 0.7;
  }

  .each-bag-item-contents-container {
    width: 100%;
    display: flex;
    background-color: #ffffff;
    z-index: 2;
    border-top: 1px solid #eee;
    padding-top: 20px;

    .bag-item-image-container {
      height: 140px;
      width: 110px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .bag-item-right-section {
      margin-left: 15px;
      padding-right: 25px;
      width: calc(100% - 100px);

      .bag-item-price-container {
        margin-bottom: 10px;
        span {
          color: #2d2d2d;
          font-style: normal;
          font-weight: 700;
          font-size: 0.9rem;
          padding-right: 0.3em;
          letter-spacing: 1.7px;
        }
      }

      .bag-item-name-container {
        padding: 0 25px 8px 0;
        p {
          color: #2d2d2d;
          letter-spacing: 0.5px;
          opacity: 0.9;
          overflow: hidden;
          font-size: 0.75em;
          line-height: 1.5rem;
          max-height: 3.1rem;
          margin-bottom: 10px;
        }
      }

      .bag-item-details-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .details-for-drop-down {
          min-width: 60%;
          max-width: 100%;
          display: none;
          align-items: center;
          //justify-content: space-between;

          span {
            display: inline-block;
            color: #666;
            font-size: 0.75em;
            letter-spacing: 0.6px;
            font-style: normal;
            font-weight: 400;
            margin-left: 10px;
          }
          :nth-child(1) {
            margin: 0;
          }
        }

        .each-detail {
          border-right: 1px solid #eee;
          margin: 0 3px 0 0;
          padding: 0 8px 0 0;
          margin-right: 10px;

          span {
            display: inline-block;
            color: #666;
            font-size: 0.75em;
            letter-spacing: 0.6px;
            font-style: normal;
            font-weight: 400;
          }

          select {
            min-width: 40px;
            height: 20px;
            border: none;
            padding: 0;
            font-size: 0.75rem;
            color: #666;
            font-weight: 300;
          }

          select:focus {
            outline: none;
          }
        }

        :nth-child(3) {
          border: none;
        }
      }

      .save-for-later-button {
        max-width: 130px;
        height: 30px;
        display: flex;
        align-items: center;

        .heart-icon {
          background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2214px%22%20height%3D%2213px%22%20viewBox%3D%22-1%20-1%2015%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Cg%20id%3D%22Desktop%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Desktop_bag%22%20transform%3D%22translate(-302.000000%2C%20-716.000000)%22%20stroke%3D%22%232D2D2D%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22M02_your_items%22%20transform%3D%22translate(132.000000%2C%20315.000000)%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22product_2%22%20transform%3D%22translate(30.000000%2C%20280.000000)%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Save%22%20transform%3D%22translate(130.000000%2C%20112.000000)%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M16.4971144%2C10.1751535%20C15.8069078%2C9.45246798%2014.8600012%2C9.0058477%2013.8150562%2C9.00719656%20C11.7057556%2C9.00959452%209.99817292%2C10.8348926%2010.0000015%2C13.0823817%20C10.0060497%2C18.2466909%2016.5093516%2C21%2016.5093516%2C21%20C16.5093516%2C21%2023.0070272%2C18.2300551%2022.9999943%2C13.064397%20C22.9973218%2C10.816758%2021.2855194%2C8.99745484%2019.1756561%2C9.00000267%20C18.1318365%2C9.00075204%2017.1856331%2C9.44992014%2016.4971144%2C10.1751535%20Z%22%20id%3D%22Shape-Copy-7%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
          background-repeat: no-repeat;
          //background-color: #fff;
          background-position: 8px center;
          height: 22px;
          min-width: 22px;
          margin-right: 10px;
        }

        border: 1px solid #eee;
        color: #2d2d2d;
        cursor: pointer;
        font-size: 0.72em;
        letter-spacing: 0.4px;
        margin-top: 4px;
        font-weight: 400;
        //padding: 6px 13px 6px 30px;
        position: relative;
        border: 1px solid #eee;
      }
    }
  }

  .is-first-item {
    border: none;
  }

  .bag-item-update-actions {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    display: none;
    height: 80px;
    transition: transform 0.5s ease-in-out;

    .cancel-button {
      cursor: pointer;
      font-size: 0.835em;
      letter-spacing: 0.4px;
      margin: 0 10px;
      text-decoration: underline;
      border: none;
      padding: 0;
      background: 0 0;
      font-weight: 400;
      color: #000000;
    }

    .update-button {
      font-style: normal;
      font-size: 0.875em;
      font-weight: 600;
      background-color: #2d2d2d;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 0.6em;
      padding: 5px 15px;
      letter-spacing: 1.5px;
      line-height: 1.7em;
      text-transform: uppercase;
    }
  }

  .remove-bag-item-button {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%22-1%20-1%2017%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Cg%20id%3D%22Desktop%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Desktop_bag%22%20transform%3D%22translate(-636.000000%2C%20-429.000000)%22%20fill%3D%22%232D2D2D%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22M02_your_items%22%20transform%3D%22translate(132.000000%2C%20315.000000)%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22product_1%22%20transform%3D%22translate(30.000000%2C%20100.000000)%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon_close_normal%22%20transform%3D%22translate(458.000000%2C%200.000000)%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M23%2C21%20L14%2C21%20L14%2C23%20L23%2C23%20L23%2C32%20L25%2C32%20L25%2C23%20L34%2C23%20L34%2C21%20L25%2C21%20L25%2C12%20L23%2C12%20L23%2C21%20Z%22%20id%3D%22Rectangle-920-Copy%22%20transform%3D%22translate(24.000000%2C%2022.000000)%20rotate(-315.000000)%20translate(-24.000000%2C%20-22.000000)%20%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    border: none;
    cursor: pointer;
    height: 16px;
    overflow: hidden;
    text-indent: 32px;
    width: 16px;
    padding: 0;
    position: absolute;
    //top: 30px;
    bottom: 78%;
    right: 50px;
    width: 24px;
    height: 24px;
    z-index: 9;
  }
}

.updating-current-item {
  height: 290px;
  margin-bottom: 0;
  .bag-item-update-actions {
    display: flex;
  }
}

.update-is-active {
  border: none;
}

.used-in-drop-down {
  //padding: 0 10px;
  padding: 15px;
  height: 180px;
  padding-top: 0;

  .remove-bag-item-button {
    position: absolute;
    width: 2.9rem;
    height: 2.9rem;
    right: 10px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M0 5h16v2H0V5zm14 3.07v9.27c0 1.47-1.15 2.66-2.574 2.66H4.574C3.153 20 2 18.797 2 17.34V8.07h12zM4 17.15c0 .462.363.85.803.85h6.394c.446 0 .803-.381.803-.85V8.1H4v9.05zM6 9h1v8H6V9zm3 0h1v8H9V9zM7 0h2c1.656 0 3 1.339 3 3v1.038H4V3c0-1.656 1.339-3 3-3zm3 3.999V3c0-.554-.446-1-1-1H7c-.554 0-1 .446-1 1v.999h4z' fill='%23666' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 1rem 1.25rem;
    background-position: 50%;
    border: none;
    bottom: 0.2rem;
    z-index: 10;
  }

  .remove-bag-item-button:hover {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M0 5h16v2H0V5zm14 3.07v9.27c0 1.47-1.15 2.66-2.574 2.66H4.574C3.153 20 2 18.797 2 17.34V8.07h12zM4 17.15c0 .462.363.85.803.85h6.394c.446 0 .803-.381.803-.85V8.1H4v9.05zM6 9h1v8H6V9zm3 0h1v8H9V9zM7 0h2c1.656 0 3 1.339 3 3v1.038H4V3c0-1.656 1.339-3 3-3zm3 3.999V3c0-.554-.446-1-1-1H7c-.554 0-1 .446-1 1v.999h4z' fill='%23d01345' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .each-bag-item-contents-container {
    .bag-item-image-container {
      height: 139px;
      width: 109px;
    }

    .bag-item-right-section {
      padding-right: 0;
      width: 100%;

      .bag-item-price-container {
        span {
          font-size: 0.85rem;
        }
      }

      .bag-item-name-container {
        height: 2.5rem;
        width: 100%;
        overflow: hidden;
        margin-bottom: 3px;
        p {
          color: #2d2d2d;
          letter-spacing: 0.5px;
          opacity: 0.9;
          overflow: hidden;
          font-size: 0.7rem;
          line-height: 1.25rem;
          margin-bottom: 10px;
        }
      }

      .bag-item-details-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .details-for-drop-down {
          display: flex;
        }

        .each-detail {
          display: none;
        }
      }

      .save-for-later-button {
        display: none;
      }
    }
  }
}

.used-in-drop-down:hover {
  .each-bag-item-contents-container {
    .bag-item-right-section {
      .bag-item-price-container {
        span {
          color: #0770cf;
        }
      }

      .bag-item-name-container {
        p {
          color: #0770cf;
        }
      }

      .bag-item-details-container {
        .details-for-drop-down {
          span {
            color: #0770cf;
          }
        }
      }
    }
  }
}
