.shopping-links-navbar-component {
  width: 100%;
  height: 50px;
  background-color: #525050;
  display: flex;
  align-items: center;
  justify-content: center;

  .shoping-links-navbar-component-inner-container {
    height: 100%;
    width: 1366px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 32px;

    .shopping-links-navbar-options-container {
      position: absolute;
      left: 0;
      top: 50px;
      width: 100%;
      padding: 0 32px;
      display: flex;
      align-items: center;
      justify-content: center;

      .navbar-options-inner-container {
        width: 100%;
        min-height: 200px;
        background-color: #eee;
        z-index: 5;
        border: 1px solid #d7d7d7;
        border-top: none;
        padding: 24px 10px 10px 10px;
      }
    }

    .show-nav-options {
      display: flex;
    }

    .shopping-link-button {
      line-height: 50px;
      background-color: #525050;
      color: #fff;
      letter-spacing: 0.8px;
      font-size: 0.75rem;
      padding: 0 10px;
      margin: 0 4px;
    }

    .add-red-background {
      transform: skew(-12deg);
      background-color: #d01345;

      p {
        height: 100%;
        width: 100%;
        transform: skew(12deg);
        font-weight: 800;
      }
    }

    .shopping-link-button:hover {
      background-color: #eee;
      color: #525050;
      cursor: pointer;
      transform: skew(0);

      P {
        transform: skew(0);
      }
    }

    .link-button-is-active {
      background-color: #eee;
      color: #525050;
    }
  }

  .shoping-links-navbar-component-inner-container:hover {
    .shopping-links-navbar-options-container {
      display: flex;
    }
  }
}

@import "./options/index";
